/* Columns using CSS Grid */
.columns {
    column-count: 3;
    column-width: 33.3333%;
    column-gap: 0.5rem;
}

@media only screen and (min-width: 960px) {
    .columns {
        column-count: 4;
        column-width: 25%;
    }
}

@media only screen and (max-width: 768px) {
    .columns {
        column-count: 2;
        column-width: 50%;
    }
}

@media only screen and (max-width: 479px) {
    .columns {
        column-count: 1;
        column-width: 100%;
    }
}
/* End CSS Grid */