@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
    font-family: "Open Sans", sans-serif;
}

/* Columns using CSS Grid */

.columns {
    column-count: 3;
    column-gap: 12px;
    column-width: 33.33333%;
    z-index: 1;
}

.columns .col-wrapper .col {
    width: 100%;
    height: auto;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.columns .col-wrapper .col img {
    object-fit: cover;
    width: 100%;
    border: 1px solid transparent;
}

.columns .col-wrapper:hover .col {
    transform: scale(0.9);
}

.columns .col-wrapper:hover .col:hover {
    z-index: 3;
    transform: scale(1.05);
}

/* Responsive Styling */

@media only screen and (min-width: 960px) {
    .columns {
        column-count: 4;
        column-width: 25%;
    }
}

@media only screen and (max-width: 768px) {
    .columns {
        column-count: 2;
        column-width: 50%;
    }
}

@media only screen and (max-width: 479px) {
    .columns {
        column-count: 1;
        column-width: 100%;
    }
}